<div ng-disabled="disabled" style="position:relative" id="todoItem{{index}}" ng-class="{doneElementBGColor: todoListLocal[index].done, strikeThrough: todoListLocal[index].done, todoListItem: true}">



    <!-- Title  -->
    <div ng-click="toggleDone(index)">
        <!-- Show  -->
        <div ng-hide="editable" ng-class="{strikeThrough: todoListLocal[index].done}"> {{todoListLocal[index].title}}</div>
        <!-- Edit  -->
        <div>
            <input type="text" ng-show="editable" value="{{todoListLocal[index].title}}" ng-model="todoListLocal[index].title">
        </div>

    </div>
    <div id="ButtonsAndDetails">
        <!-- Buttons area  -->
        <div id="GetButtonContainer">
            <div class="buttons">
                <input type="button" ng-class="{hideElement: false}" value="{{editButtonText}}" ng-click="changeState(todoListLocal, index, todoListLocal[index].title, todoListLocal[index].details)" class="btn btn-success">
                <input type="button" value="Delete" ng-click="deleteItem(index)" class="btn btn-warning">
                <input type="button" ng-class="{hideElement: false}" value="up" ng-click="swapItemsUp(todoListLocal, index)" class="btn btn-info">
            </div>

        </div>

        <!-- Details  -->
        <div ng-class="{todoItemDetailContainer:true, expanded: expanded || editable}" ng-click="toggleExpand()">
            <!-- Show  -->
            <div ng-hide="editable" class="detailsViewField">{{todoListLocal[index].details}}</div>
            <!-- Edit  -->
            <div>
                <textarea rows="3" type="text" ng-show="editable" value="{{todoListLocal[index].details}}" ng-model="todoListLocal[index].details" class="detailInputField">
            </div>
        </div>
    </div>

</div>