@-ms-viewport {
    width: device-width;
}
/*.html {
    max-width: 480px;
    width: 480px;
}*/

.flagDefault {background-color: #E4EA52;}
.flagFirst {background-color: #DC9090;}
.flagNext {background-color: #EFAC92;}
.flagNedprioriteret {background-color: #EFE892;}
.flagWaiting {background-color: #F5F5F5;}
.flagPrivate {background-color: #92D698;}

.E4EA52 {background-color: #E4EA52;}
.DC9090 {background-color: #DC9090;}
.EFAC92 {background-color: #EFAC92;}
.EFE892 {background-color: #EFE892;}
.F5F5F5 {background-color: #F5F5F5;}
.92D698 {background-color: #92D698;}



.app {
    background-color: #ffeac8;
    
    padding: 30px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    color: #FFFFFF;
}

p {
    margin: 0 0 0px;
}

div.errorBox.ng-scope {
    margin-top: 20px;
    background-color: red;
    padding: 12px;
    border: none;
    border-radius: 7px;
}

.todoListItemEven {
    background-color: #BCAFBD;
    padding: 8px;
    cursor: pointer;
}

.todoListItem {
    background-color: #E4EA52;
    color: #375456;
    cursor: pointer;
    max-width: 400px;
    padding: 10px;
    transition: 0.3s;
    /*border: 2px solid #74A9AD;*/
    
    overflow: hidden;
/*    margin: 4px;*/
    margin-bottom: 12px;
    border-radius: 7px;
    animation-name: moveUp;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.todoListItem:hover {
    background-color: #F5FF00;
    //font-size: 12px;
    color: black;
}

.todoListItem > div:nth-child(1) > div.ng-binding {
    font-weight: 700;
    width: 90%;
    display: inline-block;
}

.todoListItem .strikeThrough {
    text-decoration-line: line-through;
    text-decoration: line-through;
    color: #7B7B7B;
    /*background-color: #555656 !important;*/
}

.strikeThrough:hover {
    text-decoration-line: none;
    text-decoration: none;
    /*color: #7B7B7B !important;
    background-color: #E4EA52 !important;*/
}

.hideElement {
    display: none;
}

.doneElementBGColor {
    background-color: #555656;
}

.buttons {
    float: right;
    position: relative;
    right: 157px;
    transition: .3s;
    /* height: inherit; */
    padding: 3px;
    padding-left: 25px;
    padding-right: 20px;
    top: 37px;
    z-index: 200;
}

/*.buttons:hover {
    background-color: #E0E82E;
}*/

.buttons input {
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@keyframes moveUp {
    from {}
    to {}
}

.todoItemDetailContainer {
    background-color: rgba(168, 169, 169, 0.27);
    width: 100%;
    min-height: 33px;
    height: 33px;
    overflow: hidden;
    padding: 5px;
    padding-top: 10px;
    position: relative;
}

.todoItemDetailContainer:active {
    height: 100%;
    display: inherit;
}
.todoItemDetailContainer:hover {
    height: 100%
    display: inherit;
}

.expanded {
    height: 100%;
}

/*.todoItemDetailContainer:focus {
    height: 100px;
    display: inherit;
}*/

.detailInputField {
    width: 100%;
    height: 100%;
    line-height: 2;
    text-align: left;
    align-self: top;
    font-size: 12px;
}

.detailsViewField {
    margin-top: 4px;
    font-size: 12px;
}

select.ng-pristine.ng-valid.ng-touched {
    color: #000000;
}

textarea.detailInputField.ng-valid.ng-dirty.ng-valid-parse.ng-touched, input.ng-valid.ng-touched.ng-dirty.ng-valid-parse, input.ng-pristine.ng-valid.ng-touched {
    color: #E6E6E6;
}

input[type="submit"], input[type="button"] {
    color: white;
    background-color: #575757;
    border: none;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #757575;
}
input[type="text"] {
    background-color: #575757;
    padding: 4px;
    margin-bottom: 10px;
    width: 86%;
    border: 0px solid black;
}

input[type="password"] {
    background-color: #575757;
    padding: 4px;
    margin-bottom: 6px;
    margin-right: 15%;
    width: 100%;
    border: 0px solid black;
}

input[type="select"] {
    background-color: #575757;
    padding: 4px;
    margin-bottom: 10px;
    margin-right: 15%;
    width: 100%;
    border: 0px solid black;
}

.inputForm.ng-valid.ng-dirty.ng-valid-parse.ng-submitted > input {
    height: 24px;
}

button, input, optgroup, select, textarea {
    background-color: #494949;
}

textarea {
   background-color: #575757;
    border: 0 solid #4d797e;
    margin-top: 10px;
    padding: 4px;
    width: 100%;
}


.inputForm {
    float: none;
    max-width: 400px;
    padding: 12px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    height: 67px;
    overflow: hidden;
    background-color: rgba(145, 196, 210, 0.6);
    padding: 8px;
    transition: 0.3s;
    border-radius: 5px;
}

.inputForm:hover {
    height: 170px;
    overflow: hidden;
    transition: 0.2s;
}

.loginBox {
    width: 100%;
    border-radius: 7px;
    top: 150px;
    background-color: rgba(145, 196, 210, 0.6);
    padding: 50px;
    padding-top: 30px;
    float: none;
}
form input[type="text"]{
    width: 100%;
}

.navbar-default {
    background-color: #598489;
    border-color: #4D797E;
}

.navbar-default .navbar-nav>li>a {
    color: #A6D9DC;
}

.navbar-default .navbar-brand {
    color: #A6D9DC;
}




.topMenu {
    position: absolute;
    top: -400px;
    transition: .3s;
    padding: 20px;
    padding-top: 4px;
    background-color: #9ACD32;
    width: 100%;
}

.topMenu:hover {
    top: 0px;
}

#GetButtonContainer {
    position: absolute;
    height: 115px;
    width: 500px;
    float: right;
    right: -300px;
    bottom: -35px;
    transition: .3s;
    z-index: 300;
}

#GetButtonContainer:hover {
    /* position: absolute; */
    
    height: 115px;
    /* float: right; */
    
    right: -171px;
    width: 339px;
}
.addCategory {
    padding: 10px;
    background-color: rgba(145, 196, 210, 0.6);
    margin-top: 20px;
    border-radius: 6px;
}
.removeCategory {
    padding: 10px;
    background-color: rgba(145, 196, 210, 0.6);
    margin-top: 20px;
    border-radius: 6px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover; 
    opacity: .6;
}
.SortIcon {
    padding:0 6px;
    font-size: 18px;
    border-radius:4px;
    float: right;
    /*background-color:#FFF;*/
}
.SortIcon:hover {
    font-size: 18px;
    /*background-color:#575757;*/
    cursor:grab;
}

.SortIcon .fa-sort{
    position:relative;
    font-size: 16px;
    margin-right:auto;
    margin-left:auto;
    transition:.4s;
    text-align:center;
    color:#575757;

}
.SortIcon .fa-sort:hover, .SortIcon:hover {
    font-size: 18px;
}

input[type="text"].detailInputField{
    background-color: transparent;
}
input[type="text"].detailInputField:active, input[type="text"].detailInputField:hover, input[type="text"].detailInputField:focus {
    background-color: #575757;
}

.detailInputSubmitButton{
    display: none;
}

@media (max-width: 768px) {
    .app {
        padding: 4px;
        font-size: 1.9em;
    }
    .loginBox {
        width: 100%;
        top: 150px;
        background-color: rgba(145, 196, 210, 0.60);
        padding: 10px;
        padding-top: 30px;
        float: none;
        border: 1px solid #4D797E;
    }
    .container {
        margin: 8px;
    }
    .navbar-nav>li>a {
        line-height: 10px;
    }
    .inputForm:hover {
        height: 260px;
        overflow: hidden;
        transition: 0.2s;
    }
    .strikeThrough:hover {
        text-decoration-line: none;
        text-decoration: none;
        background-color: #4D4E3F !important
    }
    .todoListItem:hover {
        background-color: #F5FF00;
        font-size: inherit;
        color: black;
    }
    .detailInputField {
        font-size: 0.7em !important;
    }
    .detailViewField {
        font-size: 13px !important;
    }
    .inputForm {
        height: 80px;
    }
    input[type="text"] {
        width: 81%;
    }
    .detailInputSubmitButton{
    display: initial;
}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .todoListItem {
        max-width: inherit;
    }
    .inputForm{
        max-width: inherit;
    }
    .app{
        max-width:100%;
        font-size:5em;
    }
}

